* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: kanit;
  }
  
  header {
    background-color: rgb(0, 0, 0);
    display: flex;
  
    
  }

  a{
    text-decoration: none;
  }

  .Contato {
    padding-top: 10px;
  margin-left: 52rem;
  
  font-size: 18px;
  
  color: #00AAA9;
  
  }
 
  
  body {
    background-color: #00AAA9;
  }
  
  section {
    background-color: rgba(255, 255, 255);
    margin-top: 5px;
    margin-left: 20rem;
    margin-right: 20rem;
    
    align-items: center;
    text-align: center;

    height: 43rem;
  
    border-radius: 5px;
  }
  
  div {
    display: inline-block;
    
    box-align: center;
    text-align: center;
   

    margin-top: 6px;
  }
  
  img {
    margin-top: 1rem;
    width: 25rem;

  

    display: inline-flex;
  }
  
  
  .preço {
    text-align: center;
    color: #c34a36;
  }

  
  
  article {
    margin-left: 5rem;
  }
  
  h1 {
    margin-left: 5rem;
    color: #00AAA9;
  }
  
  h2 {
    margin-left: 18px;
  }
  
  h3 {
    margin-top: 2rem;
    margin-left: 18px;
  }
  
  p{
    font-size: 2rem;
  }

  .Descrição{
    text-align: left;

    margin-left: 2rem;
  }

  .Texto-descrição {
    text-align: left;
      font-size: 20px;
    margin-left: 1rem;
    color: #4b4453;
  }


  .text-compra {
    color:#00AAA9;
    margin-top: 2rem;
  }